# Build outputs
target/
build/
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

# Maven wrapper
.mvn/wrapper/maven-wrapper.jar

#Env variables
.env

# Spring Boot
HELP.md

# Data directories (volumes)
.docker/postgres-data/
.docker/kafka-data/
data/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

### VS Code ###
.vscode/

### OS ###
.DS_Store
**.DS_Store

**/node_modules
**/dist